extends layout

block content
  .row
    ul.thumbnails.estante
      li.col-md-2.col-sm-3.col-xs-6
        a.thumbnail
          img.img-responsive(src='/img/thumb_275.jpg')
      li.col-md-2.col-sm-3.col-xs-6
        a.thumbnail
          img.img-responsive(src='/img/thumb_275.jpg')
      li.col-md-2.col-sm-3.col-xs-6
        a.thumbnail
          img.img-responsive(src='/img/thumb_275.jpg')
      li.col-md-2.col-sm-3.col-xs-6
        a.thumbnail
          img.img-responsive(src='/img/thumb_275.jpg')
      li.col-md-2.col-sm-3.col-xs-6
        a.thumbnail
          img.img-responsive(src='/img/thumb_275.jpg')
      li.col-md-2.col-sm-3.col-xs-6
        a.thumbnail
          img.img-responsive(src='/img/thumb_275.jpg')
      li.col-md-2.col-sm-3.col-xs-6
        a.thumbnail
          img.img-responsive(src='/img/thumb_275.jpg')
      li.col-md-2.col-sm-3.col-xs-6
        a.thumbnail
          img.img-responsive(src='/img/thumb_275.jpg')
      li.col-md-2.col-sm-3.col-xs-6
        a.thumbnail
          img.img-responsive(src='/img/thumb_275.jpg')
      li.col-md-2.col-sm-3.col-xs-6
        a.thumbnail
          img.img-responsive(src='/img/thumb_275.jpg')
      li.col-md-2.col-sm-3.col-xs-6
        a.thumbnail
          img.img-responsive(src='/img/thumb_275.jpg')
      li.col-md-2.col-sm-3.col-xs-6
        a.thumbnail
          img.img-responsive(src='/img/thumb_275.jpg')
      li.col-md-2.col-sm-3.col-xs-6
        a.thumbnail
          img.img-responsive(src='/img/thumb_275.jpg')
      li.col-md-2.col-sm-3.col-xs-6
        a.thumbnail
          img.img-responsive(src='/img/thumb_275.jpg')
      li.col-md-2.col-sm-3.col-xs-6
        a.thumbnail
          img.img-responsive(src='/img/thumb_275.jpg')
      li.col-md-2.col-sm-3.col-xs-6
        a.thumbnail
          img.img-responsive(src='/img/thumb_275.jpg')



